<h1>My lists</h1>

<% @lists.each do |list| %>
<%= cl_image_tag list.picture.key, height: 300, width: 400, crop: :fill %>
<h2><%= list.name %></h2>
<p><%= link_to 'See details', list_path(list) %></p>
<% end %>

<%= link_to "Home", root_path %>
<%= link_to "Create a movie list", new_list_path %>
