<%= render "shared/navbar" %>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1>Add a new film</h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>

        <%= link_to "Back to the list", list_path(@list), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
